/* ------------------------------------------- */
/* -- Placeholders */
/* ------------------------------------------- */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%wrapper {
  max-width: $site-width;
  margin: 0 auto;
  position: relative;
  padding-left: rem(20);
  padding-right: rem(20);
  @extend %clearfix;
}

%holder {
  max-width: $site-width + px;
  margin: 0 auto;
  position: relative;
  @extend %clearfix;

  @include breakpoint(1300px) {
    max-width: $site-width + px;
  }
}

%naked-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

%small-label {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: rem(14);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

%button {
  background-color: transparent;
  border: 1px solid $color--1;
  color: $color--1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(11);
  font-family: $font--main;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.115em;
  line-height: rem(13);
  overflow: hidden;
  min-width: 140px;
  text-decoration: none;
  padding: rem(12) rem(20);
  border-radius: 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  @include breakpoint($breakpoint--main + 0px) {
    min-width: 150px;
  }

  &:hover {
    background-color: $color--1;
    color: $color--white;
  }
}

.btn {
  @extend %button;

  &.btn--fill {
    background-color: $color--1;
    color: $color--white;

    &:hover {
      background-color: transparent;
      color: $color--1;
    }
  }

  &.btn--white {
    border-color: $color--white;
    color: $color--white;

    &:hover {
      background-color: $color--white;
      color: $color--1;
    }

    &-fill {
      border-color: $color--white;
      background-color: $color--white;
      color: $color--1;

      &:hover {
        background-color: transparent;
        color: $color--white;
      }
    }
  }
}

.btn--block {
  margin: rem(30) 0 0;

  .btn {
    + .btn {
      @include breakpoint($breakpoint--main + 0px) {
        margin-left: rem(20);
      }

      @include breakpoint(max-width $breakpoint--main - 1px) {
        margin-top: 10px;
      }
    }
  }
}

.text-center {
  .btn--load {
    margin: 0 auto;
  }
}

.btn--load {
  border: 2px solid $color--black;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 53px;

  img {
    max-height: 20px;
    max-width: 15px;
  }
}

//----------------------------------

* {
  box-sizing: border-box;
}

.chromeframe {
  position: absolute;
  top: 0;
  padding: 20px;
  background: #fff;
  color: #666;
}

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

/* -------------------------------------------------------------------------------*/

// ::-moz-selection {
//   background-color: $color--1;
//   color: $color--white;
//   text-shadow: none;
// }
// ::selection {
//   background-color: $color--1;
//   color: $color--white;
//   text-shadow: none;
// }

// a:link {
//   -webkit-tap-highlight-color: #333;
// }

/* Basics + Fonts
---------------------------------- */

body {
  background-color: $color--gray;
  color: $color--body-copy;
  font-size: rem(16);
  line-height: 164.5%;
  font-family: $font--main;
  font-style: normal;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  @include breakpoint(max-width $breakpoint--main - 1px) {
    -webkit-overflow-scrolling: touch;
  }

  &.menu-extended {
    @include breakpoint(max-width $breakpoint--main - 1px) {
      overflow: hidden;
    }
  }
}

img {
  backface-visibility: hidden;
  height: auto;
  max-width: 100%;
}

p,
ul,
ol {
  color: $color--body-copy;
  font-family: $font--main;
  font-size: rem(15);
  line-height: 164.5%;
  margin: 0;

  @include breakpoint($breakpoint--main + 0px) {
    font-size: rem(16);
  }

  + p,
  + ul,
  + ol {
    margin-top: rem(20);

    @include breakpoint($breakpoint--main + 0px) {
      margin-top: rem(25);
    }
  }
}

.holder {
  @extend %holder;

  padding-left: 20px;
  padding-right: 20px;

  @include breakpoint($breakpoint--main + 0px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  // @include breakpoint($breakpoint--main + 256px) {
  //   padding-left: 50px;
  //   padding-right: 50px;
  // }

  &--alt {
    max-width: 915px;
  }

  &--fluid {
    @include breakpoint(max-width $breakpoint--main - 1px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

/* Headers / Titles
================================= */
h1,
h2,
h3,
h4 {
  line-height: 105%;
}

h1,
h3 {
  font-weight: 400;
}

h2,
h4 {
  font-weight: 300;
}
h1 {
  font-size: rem(60);

  @include breakpoint($breakpoint--main + 0px) {
    font-size: rem(83.3268);
  }
}
h2 {
  @include breakpoint($breakpoint--main + 0px) {
    font-size: rem(32);
  }
}

h3 {
  font-size: rem(17);

  @include breakpoint($breakpoint--main + 0px) {
    font-size: rem(18);
  }
}
h4 {
  font-size: rem(20);

  @include breakpoint($breakpoint--main + 0px) {
    font-size: rem(24);
  }
}

input,
button {
  &:focus {
    outline: none;
  }
}

/* ---------- */

/* Links
================================= */

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus {
  outline: none;
}

/* ---------- */

address {
  font-style: normal;
}

// ---- WP posts
.wp-caption {
  margin-top: $space * 2;
  margin-bottom: $space * 2;
  width: auto !important;
  img {
    display: block;
  }
}

.image-caption {
  padding: 10px 0;
  font-size: rem(14);
}

article.post p.wp-caption-text,
.wp-caption-text {
  padding: 10px 0;
  text-align: center;
  margin-bottom: $space;
  font-size: rem(14);
}
.alignright {
  display: block;

  @include breakpoint($breakpoint--main + 0px) {
    display: inline-block;
    float: right;
    margin: 0 0 20px 30px;
  }
}

.aligncenter {
  display: block;
  margin: 20px auto;
  clear: both;

  .wp-block-embed__wrapper {
    text-align: center;
  }
}

article a[href$=".jpg"],
article a[href$=".png"],
article a[href$=".gif"] {
  cursor: zoom-in;
}

img.size-large {
  display: block;
  margin: $space * 2 0 $space * 3 0;
}

.wp-caption.aligncenter {
  text-align: center;
  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.text-center {
  text-align: center;

  .section--title {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}

// main wrapper
.main--wrapper {
  flex: 1 0 auto;
  overflow: hidden;
}

.home {
  .main--wrapper {
    &:not(.bodyColor-blue) {
      background-image: none;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;

  > * {
    padding-left: rem(10);
    padding-right: rem(10);
  }
}

.bg-white {
  background-color: $color--white;
}

.bg-navy {
  background-color: $color--1;

  .title--block {
    .section--title {
      color: $color--white;
    }
    .title--block__btn {
      .btns {
        border-color: $color--white;
        color: $color--white;
      }
    }
  }
}
.d-flex {
  display: flex;
  justify-content: space-between;
  .section--title {
    padding-bottom: 0;
  }
}

.bg-gray {
  background-color: #fafafa;

  .text--img {
    &__img {
      &::before {
        background-color: #fafafa;
      }
    }
  }
}

// .btns {
//   font-family: $font--main;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 11px;
//   line-height: 13px;
//   text-align: center;
//   letter-spacing: 0.115em;
//   text-transform: uppercase;
//   color: $color--white;
//   padding: 15px 20px;
//   border: 1px solid $color--2;
//   border-radius: 20px;
//   margin-right: rem(20);
//   text-decoration: none;
//   // &::before {
//   //     content: "";
//   //     background-color: $color--blue;
//   //     position: absolute;
//   //     top: 0;
//   //     left: 0;
//   //     height: 100%;
//   //     width: 0;
//   //     transition: 0.3s;
//   //     z-index: -1;
//   // }

//   &:hover {
//     color: $color--1;
//     background-color: $color--white;
//     transition: all 0.3s ease-out;
//   }
// }

.btn--link {
  color: $color--white;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: rem(11);
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: rem(13);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  .arrow {
    margin-left: rem(10);

    svg {
      height: 12px;
      width: 12px;

      * {
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &:hover {
    .btn-text {
      &-normal {
        transform: translateY(-110%);
      }

      &-hover {
        transform: translateY(0px);
      }
    }

    .btn-arrow {
      &-normal {
        transform: translateX(110%);
      }
      &-hover {
        transform: translateX(0px);
      }
    }
  }

  &.underlined {
    &::after {
      background-color: $color--white;
      bottom: -3px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        left: auto;
        right: 0;
        width: 0;
      }
    }
  }
}

.btn-text {
  margin-right: rem(8);
  overflow: hidden;
  position: relative;

  span {
    display: block;
    margin: 0;
    will-change: transform;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  &-hover {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    transform: translateY(110%);
  }
}

.btn-arrow {
  position: relative;
  overflow: hidden;

  svg {
    height: 9px;
    width: 12px;
  }

  span {
    display: block;
    will-change: transform;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  &-hover {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    transform: translateX(-110%);
  }
}

.visible--mobile {
  display: block;

  @include breakpoint($breakpoint--main + 0px) {
    display: none;
  }
}

.visible--desktop {
  display: block;

  @include breakpoint(max-width $breakpoint--main - 1px) {
    display: none;
  }
}

.pY-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}

.jarallax {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg-blue {
  background-color: $color--1;
  color: $color--white;

  p {
    color: $color--white;
  }

  .section--title {
    color: $color--white;

    &::after {
      background-color: $color--3;
    }
  }
}
