footer {
    .footer {
        background-color: $color--7;
        padding: 39px 0 40px 0;
        border-bottom: 0.5px solid $color--5;

        .footer__menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            @include breakpoint($breakpoint--main + 0px) {
                justify-content: center;
            }
            .visible--mobile {
                display: block;
                @include breakpoint($breakpoint--main + 0px) {
                    display: none;
                }
                .nav-toggle {
                    cursor: pointer;
                    display: block;
                    font-family: "Interstate";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 11px;
                    line-height: 13px;
                    text-align: center;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                    color: $color--white;
                    position: relative;
                    &::after {
                        background-image: url("../images/angle-down-white.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        content: "";
                        height: 18px;
                        position: absolute;
                        right: -312px;
                        top: 0;
                        width: 18px;
                        transition: all 0.3s ease-in-out;
                        z-index: 1;
                    }
                }
                .nav-toggle.footer-menu-expand {
                    &::after {
                        top: 0.3125rem;
                        transform: rotate(180deg);
                    }
                }
            }
            ul {
                display: none;
                text-align: center;
                position: relative;
                left: -110px;
                @include breakpoint($breakpoint--main + 0px) {
                    display: flex;
                    align-items: center;
                    gap: 0 40px;
                    left: 0;
                }
                li {
                    a {
                        font-family: "Interstate";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 11px;
                        line-height: 13px;
                        text-align: center;
                        letter-spacing: 0.12em;
                        text-transform: uppercase;
                        color: $color--white;
                        position: relative;
                        text-decoration: none;
                        &:hover::after {
                            left: 0;
                            width: 100%;
                        }
                        &::after {
                            bottom: -2px;
                            content: "";
                            height: 1px;
                            right: 0;
                            position: absolute;
                            width: 0;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            background-color: #fff;
                        }
                    }
                    &:last-child {
                        display: none;
                        @include breakpoint($breakpoint--main + 0px) {
                            padding-right: 0;
                            display: block;
                        }
                        a {
                            border-color: $color--white;
                            &:hover {
                                background-color: $color--2;
                                color: $color--white;
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer--info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0 629.78px;
        padding: 20.66px 20px 21.64px 20px;
        background-color: $color--6;
        @media (max-width: rem(1090px)) {
            flex-direction: column;
            gap: 10px;
        }
        a {
            color: #fcfcfc;
            font-family: "Lato", sans-serif;
            font-size: 0.6875rem;
            line-height: 140%;
            position: relative;
            text-decoration: none;

            &:hover::after {
                left: 0;
                width: 100%;
            }
            &::after {
                background-color: #222;
                bottom: -2px;
                content: "";
                height: 1px;
                right: 0;
                position: absolute;
                width: 0;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                background-color: #fff;
            }
        }
        .footer--info__footnote {
            > * {
                color: $color--white;
                text-decoration: none;
                font-family: "Interstate";
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 115.2%;
            }
            > * + * {
                margin-left: 16px;
            }
        }
        .footer--info__socials {
            a {
                font-weight: 400;
                font-size: 10px;
                line-height: 115.2%;
                display: flex;
                align-items: center;
                text-align: center;
                color: $color--white;
                opacity: 0.6;
                &:hover {
                    opacity: 0.6;
                    &::after {
                        display: none;
                    }
                }
                img {
                    height: 14.22px;
                    margin-right: 13px;
                    width: 14.22px;
                }
            }
        }
    }
}
