footer {
    background-color: $color--7;
    // padding: rem(20) 0 rem(15);

    @include breakpoint($breakpoint--main + 0px) {
        // padding: rem(40) 0 rem(30);
    }
}

.footer {
    border-bottom: 1px solid $color--white;
    padding: rem(40) 0;

    @include breakpoint($breakpoint--main + 0px) {
        @include d-flex;
        align-items: center;
    }

    &__logo {
        margin-bottom: rem(15);
        text-align: center;

        @include breakpoint($breakpoint--main + 0px) {
            flex: 0 0 20%;
            max-width: 20%;
            margin-bottom: 0;
            text-align: left;
            width: 100%;
        }
    }

    &__menu {
        @include breakpoint($breakpoint--main + 0px) {
            flex: 0 0 80%;
            max-width: 80%;
            width: 100%;
        }

        .nav-toggle {
            color: $color--white;
            cursor: pointer;
            display: block;
            font-family: $font--alt;
            font-size: rem(16);
            font-weight: 500;
            letter-spacing: 0.1em;
            padding: 0;
            position: relative;
            text-transform: uppercase;

            &::after {
                background-image: url(../images/angle-down-white.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                content: "";
                height: 18px;
                position: absolute;
                right: rem(10);
                top: -2px;
                width: 18px;
                transition: all 0.3s ease-in-out;
            }

            &.footer-menu-expand {
                &::after {
                    top: rem(5);
                    transform: rotate(180deg);
                }
            }
        }

        ul {
            @extend %naked-list;
            display: none;
            text-align: center;

            @include breakpoint($breakpoint--main + 0px) {
                @include d-flex;
                align-items: center;
                justify-content: flex-end;
            }

            li {
                padding: rem(5) rem(20);

                @include breakpoint($breakpoint--main + 0px) {
                    padding: 0 rem(20);
                }

                a {
                    color: $color--white;
                    font-family: $font--alt;
                    font-weight: 700;
                    font-size: rem(13);
                    line-height: 130%;
                    letter-spacing: 0.02em;
                    position: relative;
                    text-align: center;
                    text-decoration: none;

                    &::after {
                        @include animate-line;
                        background-color: $color--white;
                    }

                    &:hover {
                        &::after {
                            @include animate-line-hover;
                        }
                    }
                }

                &:last-child {
                    @include breakpoint($breakpoint--main + 0px) {
                        padding-right: 0;
                    }

                    a {
                        @extend %button;
                        background-color: $color--white;
                        border-color: $color--white;
                        color: $color--1;

                        &::after {
                            content: none;
                        }

                        &:hover {
                            background-color: transparent;
                            color: $color--white;
                        }
                    }
                }
            }
        }
    }
}

.footer--info {
    @include d-flex;
    align-items: center;
    padding: rem(21.64) rem(0);
    background-color: $color--6;

    a {
        color: #fcfcfc;
        font-family: $font--main;
        font-size: rem(11);
        line-height: 140%;
        position: relative;
        text-decoration: none;

        &::after {
            @include animate-line;
            background-color: $color--white;
        }

        &:hover,
        &:focus {
            &::after {
                @include animate-line-hover;
            }
        }
    }

    &__footnote {
        @include flex(60%);

        @include breakpoint(max-width $breakpoint--main - 1px) {
            @include flex(100%);
            order: 1;
            text-align: center;
        }

        > * {
            color: #fcfcfc;
            font-family: $font--main;
            font-size: rem(11);
            line-height: 140%;
            text-decoration: none;

            + * {
                margin-left: rem(10);

                @include breakpoint($breakpoint--main + 0px) {
                    margin-left: rem(20);
                }
            }
        }
    }

    &__socials {
        @include flex(100%);
        margin-bottom: rem(10);
        text-align: center;

        @include breakpoint($breakpoint--main + 0px) {
            @include flex(40%);
            margin-bottom: 0;
            text-align: right;
        }

        a {
            display: inline-flex;
            align-items: center;

            &::after {
                content: none;
            }

            &:hover {
                opacity: 0.6;
            }

            svg {
                height: 18px;
                margin-left: rem(8);
                width: 18px;
            }
        }
    }
}
