%d-flex {
    display: flex;
    flex-wrap: wrap;
}
@mixin d-flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-33 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
}

@mixin flex-50 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
}

@mixin flex-100 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

@mixin flex($width) {
    flex: 0 0 $width;
    max-width: $width;
    width: 100%;
}

@mixin bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin cont-padding {
    padding: rem(40) 0;

    @include breakpoint($breakpoint--main + 0px) {
        padding: rem(60) 0;
    }
}

@mixin animate-line {
    background-color: $color--6;
    bottom: -2px;
    content: "";
    height: 1px;
    right: 0;
    position: absolute;
    width: 0;
    transition: all 0.3s;
}

@mixin animate-line-hover {
    left: 0;
    width: 100%;
}

@mixin block-title {
    font-family: $font--bold;
    font-size: rem(22);
    letter-spacing: -0.01em;
    margin: 0 0 rem(15);
    text-transform: capitalize;

    @include breakpoint($breakpoint--main + 0px) {
        font-size: rem(35);
    }
}

@mixin overlay--color {
    background-color: rgba($color--black, 0.4);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

@mixin triangle-arrow {
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid $color--body-copy;
    height: 0px;
    right: 0;
    position: absolute;
    top: 12px;
    width: 0px;
    transition: all 0.3s ease-in-out;
}

@mixin section-subTitle {
    color: $color--2;
    font-family: $font--alt;
    font-weight: 500;
    font-size: rem(10);
    line-height: rem(11);
    letter-spacing: 0.09em;
    margin: 0 0 rem(10);
    text-transform: uppercase;
}

@mixin section--title {
    font-weight: 275;
    line-height: 120.5%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: $color--1;
    padding-bottom:rem(20);

    &::after {
        background-color: $color--3;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 0;
        transition: all 0.3s ease-in-out 0.4s;
    }
}
