// ----- REM px function
$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

// -- EM function
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

:root {
  --color-2: #bf0a27;
}

/* ------------------------------------------- */
/* -- Colours + Variables */
/* ------------------------------------------- */

$site-width: 1160;

// Defsult space
$space: 20px;

$font--main: "interstate", sans-serif;


// Body copy colour
$color--body-copy: #232323;
$color--gray: #f8f8f8;

// Colours - eidt as needed
$color--white: #ffffff;
$color--black: #000000;
$color--1: #002a60;
$color--2: #bf0a27;
$color--3: #307fd3;
$color--4: #EBEBED;
$color--5: #1D2331;
$color--6: #F5F5F5;

$breakpoint--main: 768;
