// ----- REM px function
$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

// -- EM function
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/* ------------------------------------------- */
/* -- Colours + Variables */
/* ------------------------------------------- */

$site-width: 1100;

// Defsult space
$space: 20px;

$font--main: 'Interstate', sans-serif;
$font--alt: "Arial", sans-serif;

// Body copy colour
$color--gray: #F5F5F5;

// Colours - eidt as needed
$color--white: #ffffff;
$color--black: #000000;
$color--1: #002A60;
$color--2: #307FD3;
$color--3: #BF0A27;
$color--4: #EBEBED;
$color--5: #BEBEBE;
$color--6: #232323;
$color--7: #1D2331;

$breakpoint--main: 768;
