@import url("https://use.typekit.net/neg3agg.css");
html,
body,
p,
blockquote,
figure,
fieldset,
textarea,
iframe {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img,
embed,
iframe:not(.instagram-media):not(.wp-embedded-content),
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Single property */
html {
  font-size: 12px;
}

@media (min-width: 320px) {
  html {
    font-size: calc(12px + 4 * (100vw - 320px) / 1046);
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 16px;
  }
}

.holder {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 320px) {
  .holder {
    padding-left: calc(30px + -15 * (100vw - 320px) / 1046);
    padding-right: calc(30px + -15 * (100vw - 320px) / 1046);
  }
}

@media (min-width: 1366px) {
  .holder {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  color: #232323;
  background-color: #F5F5F5;
}

.holder {
  max-width: 69rem;
  margin: 0 auto;
  position: relative;
}

img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.jarallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.in-view .section--title::after {
  width: 80px;
}

.in-view .slide-down {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.in-view .slide-up {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.in-view .fade-in {
  opacity: 1;
}

.in-view > *:nth-child(1n) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.in-view > *:nth-child(2n) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.in-view > *:nth-child(3n) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.in-view > *:nth-child(4n) {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.in-view > *:nth-child(5n) {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.in-view > *:nth-child(6n) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.in-view > *:nth-child(7n) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.in-view > *:nth-child(8n) {
  -webkit-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.in-view > *:nth-child(9n) {
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.in-view > *:nth-child(10n) {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

.in-view > *:nth-child(11n) {
  -webkit-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.in-view > *:nth-child(12n) {
  -webkit-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.in-view > *:nth-child(13n) {
  -webkit-transition-delay: 2.6s;
  -o-transition-delay: 2.6s;
  transition-delay: 2.6s;
}

.in-view > *:nth-child(14n) {
  -webkit-transition-delay: 2.8s;
  -o-transition-delay: 2.8s;
  transition-delay: 2.8s;
}

.in-view > *:nth-child(15n) {
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
}

.in-view > *:nth-child(16n) {
  -webkit-transition-delay: 3.2s;
  -o-transition-delay: 3.2s;
  transition-delay: 3.2s;
}

.in-view > *:nth-child(17n) {
  -webkit-transition-delay: 3.4s;
  -o-transition-delay: 3.4s;
  transition-delay: 3.4s;
}

.in-view > *:nth-child(18n) {
  -webkit-transition-delay: 3.6s;
  -o-transition-delay: 3.6s;
  transition-delay: 3.6s;
}

.in-view > *:nth-child(19n) {
  -webkit-transition-delay: 3.8s;
  -o-transition-delay: 3.8s;
  transition-delay: 3.8s;
}

.in-view > *:nth-child(20n) {
  -webkit-transition-delay: 4s;
  -o-transition-delay: 4s;
  transition-delay: 4s;
}

.slide-up {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-down {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.fade-in {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section--title::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #BF0A27;
  height: 2px;
  width: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out 0.4s;
  -o-transition: all 0.3s ease-in-out 0.4s;
  transition: all 0.3s ease-in-out 0.4s;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

input:focus,
button:focus {
  outline: none;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.09em;
  line-height: 0.75rem;
  padding: 30px 0 0 0;
}

.breadcrumbs li {
  text-shadow: 2px 2px 4px #808285;
}

.breadcrumbs li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}

.breadcrumbs li a:hover {
  color: #307FD3;
}

.breadcrumbs li:last-child {
  overflow: hidden;
  max-width: 550px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbs .separator::before {
  content: "/";
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.breadcrumbs li + li {
  margin-left: 0.1875rem;
}

.text-center {
  text-align: center;
}

.bg-gray {
  background-color: #F5F5F5;
}

h1 {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 300;
  line-height: 105%;
  letter-spacing: -0.035em;
  color: #ffffff;
  font-size: rem(55px);
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: rem(60px);
  }
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: rem(70px);
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: rem(83.3268px);
  }
}

h2 {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 275;
  line-height: 120.5%;
  letter-spacing: -0.02em;
  color: #002A60;
  font-size: rem(20px);
}

@media screen and (min-width: 576px) {
  h2 {
    font-size: rem(20);
  }
}

@media screen and (min-width: 767px) {
  h2 {
    font-size: rem(25px);
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: rem(32px);
  }
}

h3 {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 120.5%;
  letter-spacing: -0.02em;
  color: #002A60;
}

.btn {
  font-family: "Interstate";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.115em;
  text-transform: uppercase;
  color: #307FD3;
  border: 1px solid #307FD3;
}

.numberList {
  display: -ms-grid;
  display: grid;
  gap: 80px 0;
  margin: 0 auto;
  max-width: 1020px;
  position: absolute;
  top: 130px;
  left: 162px;
}

@media (max-width: 815px) {
  .numberList {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
    top: 28px;
    left: 0;
  }
}

.numberList .numberList__item {
  padding: 0 0.9375rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 75px;
}

.numberList .numberList__item img {
  max-height: 65px;
}

@media (max-width: 815px) {
  .numberList .numberList__item {
    padding: 0 0 30px 0;
  }
}

.numberList .numberList__item:nth-child(1) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.numberList .numberList__item:nth-child(2) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.numberList .numberList__item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.numberList .numberList__item .numberList__item_number {
  color: #307FD3;
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 8px;
  text-align: left;
  max-width: 185px;
}

.numberList .numberList__item p {
  color: #BF0A27;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: normal;
}

@-webkit-keyframes infinity {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes infinity {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes Pump {
  to {
    opacity: 1;
  }
}

@keyframes Pump {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes image-loaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes image-loaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  66% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  66% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadeInn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slideUP {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUP {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.slide-up {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-down {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.fade-in {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loaded .in-view.text--block__desc, .loaded .text--img__desc.in-view > *, .loaded .text--img__text.in-view > *,
.loaded .text--number__desc.in-view > *,
.loaded .text--number__text.in-view > *, .loaded .parallax--imgText__desc.in-view > * {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.loaded .in-view .section--title::after {
  width: 5rem;
}

.loaded .in-view.title--block > *:nth-child(1n) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.loaded .in-view.title--block > *:nth-child(2n) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.loaded .in-view.title--block > *:nth-child(3n) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.loaded .in-view.title--block > *:nth-child(4n) {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.loaded .in-view.title--block > *:nth-child(5n) {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

.loaded .in-view.title--block > *:nth-child(6n) {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.loaded .in-view.title--block > *:nth-child(7n) {
  -webkit-transition-delay: 1.4s;
       -o-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.loaded .in-view.title--block > *:nth-child(8n) {
  -webkit-transition-delay: 1.6s;
       -o-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.loaded .in-view.title--block > *:nth-child(9n) {
  -webkit-transition-delay: 1.8s;
       -o-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.loaded .in-view.title--block > *:nth-child(10n) {
  -webkit-transition-delay: 2s;
       -o-transition-delay: 2s;
          transition-delay: 2s;
}

.loaded .in-view.title--block > *:nth-child(11n) {
  -webkit-transition-delay: 2.2s;
       -o-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

.loaded .in-view.title--block > *:nth-child(12n) {
  -webkit-transition-delay: 2.4s;
       -o-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.loaded .in-view.title--block > *:nth-child(13n) {
  -webkit-transition-delay: 2.6s;
       -o-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

.loaded .in-view.title--block > *:nth-child(14n) {
  -webkit-transition-delay: 2.8s;
       -o-transition-delay: 2.8s;
          transition-delay: 2.8s;
}

.loaded .in-view.title--block > *:nth-child(15n) {
  -webkit-transition-delay: 3s;
       -o-transition-delay: 3s;
          transition-delay: 3s;
}

.loaded .in-view.title--block > *:nth-child(16n) {
  -webkit-transition-delay: 3.2s;
       -o-transition-delay: 3.2s;
          transition-delay: 3.2s;
}

.loaded .in-view.title--block > *:nth-child(17n) {
  -webkit-transition-delay: 3.4s;
       -o-transition-delay: 3.4s;
          transition-delay: 3.4s;
}

.loaded .in-view.title--block > *:nth-child(18n) {
  -webkit-transition-delay: 3.6s;
       -o-transition-delay: 3.6s;
          transition-delay: 3.6s;
}

.loaded .in-view.title--block > *:nth-child(19n) {
  -webkit-transition-delay: 3.8s;
       -o-transition-delay: 3.8s;
          transition-delay: 3.8s;
}

.loaded .in-view.title--block > *:nth-child(20n) {
  -webkit-transition-delay: 4s;
       -o-transition-delay: 4s;
          transition-delay: 4s;
}

.loaded .in-view .slide-down, .loaded .in-view.slide-down,
.loaded .in-view .slide-up, .loaded .in-view.slide-up {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.loaded .in-view .fade-in, .loaded .in-view.fade-in {
  opacity: 1;
}

.loaded .text--img__img.in-view::before, .loaded .text--img__number.in-view::before,
.loaded .text--number__img.in-view::before,
.loaded .text--number__number.in-view::before {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.loaded .text--img.imgRight .text--img__img.in-view::before,
.loaded .text--number.imgRight .text--img__img.in-view::before {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.loaded .text--img.imgRight .text--img__img .parallax--box,
.loaded .text--number.imgRight .text--img__img .parallax--box {
  left: auto;
  right: 0;
}

.my-mfp-zoom-in .mfp-zoom-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready .mfp-zoom-anim {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .mfp-zoom-anim {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

@-webkit-keyframes jump-arrow {
  0%,
  20%,
  55%,
  80%,
  100% {
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(-10%, -10px, 0);
            transform: translate3d(-10%, -10px, 0);
  }
  70% {
    -webkit-transform: translate3d(-10%, -8px, 0);
            transform: translate3d(-10%, -8px, 0);
  }
  90% {
    -webkit-transform: translate3d(-10%, -5px, 0);
            transform: translate3d(-10%, -5px, 0);
  }
}

@keyframes jump-arrow {
  0%,
  20%,
  55%,
  80%,
  100% {
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(-10%, -10px, 0);
            transform: translate3d(-10%, -10px, 0);
  }
  70% {
    -webkit-transform: translate3d(-10%, -8px, 0);
            transform: translate3d(-10%, -8px, 0);
  }
  90% {
    -webkit-transform: translate3d(-10%, -5px, 0);
            transform: translate3d(-10%, -5px, 0);
  }
}

@-webkit-keyframes jump-arrow2 {
  0%,
  20%,
  55%,
  80%,
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(30%, 10px, 0);
            transform: translate3d(30%, 10px, 0);
  }
  70% {
    -webkit-transform: translate3d(30%, 8px, 0);
            transform: translate3d(30%, 8px, 0);
  }
  90% {
    -webkit-transform: translate3d(30%, 5px, 0);
            transform: translate3d(30%, 5px, 0);
  }
}

@keyframes jump-arrow2 {
  0%,
  20%,
  55%,
  80%,
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(30%, 10px, 0);
            transform: translate3d(30%, 10px, 0);
  }
  70% {
    -webkit-transform: translate3d(30%, 8px, 0);
            transform: translate3d(30%, 8px, 0);
  }
  90% {
    -webkit-transform: translate3d(30%, 5px, 0);
            transform: translate3d(30%, 5px, 0);
  }
}

@-webkit-keyframes zoomFadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomFadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

.loading--btn {
  border: 4px solid rgba(34, 41, 46, 0.4);
  border-top: 4px solid #307FD3;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
  width: 30px;
  -webkit-animation: load 1s linear infinite;
          animation: load 1s linear infinite;
}

@-webkit-keyframes load {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header-wrapper {
  display: block;
  position: relative;
  z-index: 99;
}

.header-wrapper .header {
  background-color: #002A60;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 0.5px solid #bebebe;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-wrapper .header .holder nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22.97px 0;
}

.header-wrapper .header .holder nav .menu .main-menu {
  position: fixed;
  background-color: #1D2331;
  width: 100%;
  top: 87.1px;
  left: 0;
  height: 32.1875rem;
}

.header-wrapper .header .holder nav .menu .main-menu .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
  padding: 99px 0 67px 0;
}

.header-wrapper .header .holder nav .menu .main-menu .holder .menu_about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

.header-wrapper .header .holder nav .menu .main-menu .holder .menu_about ul li a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 16px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
  position: relative;
  border-bottom: 1px solid #BBBEC1;
}

.header-wrapper .header .holder nav .menu .main-menu .holder .menu_about ul li a::after {
  content: "";
  position: absolute;
  background-image: url(../images/rightArrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto;
  top: -4px;
  left: 286px;
  width: 44px;
  height: 44px;
}

.header-wrapper .header .holder nav .menu .main-menu .holder .menu_about ul li:last-child a {
  border-bottom: none;
}

.header-wrapper .header .holder nav .menu .main-menu .holder .menu_sector {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  max-width: 27%;
}

.header-wrapper .header .holder nav .menu .main-menu .holder .menu_sector ul li a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 9px 0 0 0;
  position: relative;
}

.header-wrapper .header .holder nav .menu .main-menu .holder .menu_sector ul li:first-child a {
  font-weight: 700;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid #BBBEC1;
  padding: 9px 0;
}

.header-wrapper .header .holder nav .menu .main-menu .holder .menu_sector ul li:first-child a::after {
  content: "";
  position: absolute;
  background-image: url(../images/rightArrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto;
  top: -4px;
  left: 252px;
  width: 44px;
  height: 44px;
}

.header-wrapper .header .holder nav .menu .toggle-menu {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
  display: block;
  height: 30px;
  outline: 0;
  margin-left: 1.875rem;
  padding: 0;
  position: relative;
  width: 35px;
  z-index: 991;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-wrapper .header .holder nav .menu .toggle-menu i {
  background-color: #ffffff;
  display: block;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-wrapper .header .holder nav .menu .toggle-menu i + i {
  margin-top: 0.4375rem;
}

.header-wrapper .header .holder nav .menu .toggle-menu.toggle-active i {
  background-color: #ffffff;
  position: relative;
}

.header-wrapper .header .holder nav .menu .toggle-menu.toggle-active i:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-wrapper .header .holder nav .menu .toggle-menu.toggle-active i:nth-child(2) {
  opacity: 0;
}

.header-wrapper .header .holder nav .menu .toggle-menu.toggle-active i:nth-child(3) {
  top: -9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-wrapper .header-menu {
  background-color: #1D2331;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-wrapper .header-sticky {
  background-color: #002A60;
  left: 0;
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-wrapper .header-show {
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #002A60;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-position: center;
  z-index: 111;
}

#preloader .preloader--logo {
  position: relative;
}

#preloader .preloader--logo::after {
  content: "";
  position: absolute;
  background-color: #BF0A27;
  height: 1px;
  width: 100%;
  bottom: -12px;
  left: 50%;
  -webkit-animation: leftRight 0.8s infinite;
          animation: leftRight 0.8s infinite;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.loading body {
  overflow: hidden;
}

.loaded #preloader {
  -webkit-animation-name: slideOut;
          animation-name: slideOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes leftRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes leftRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*# sourceMappingURL=screen.css.map */